
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

/* nav */
.section__nav {
    padding-top: 37px;
    padding-bottom: 37px;
    position:sticky; top:0;
    z-index: 1000;

    background: #FAFAFA;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
}

.nav__wrapper {
    display: flex;
    align-items: center;    
}
.section__nav .logo {
    display: block;
    flex-basis: calc(100% / 12 * 1);
}

.nav__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: calc(100% / 12 * 4);
    flex-basis: content;
}

.nav__list li {
    margin-right: 40px;   
}

.nav__list li:last-child {
    margin-right: 0;
}

.nav__list li:hover .nav__link {
    color: #03DAC4;
    transition: 250ms;

    border-bottom: solid 2px #6200EE; 
}

.nav__link:focus {
    color: #03DAC4;
}

.nav__link {
    text-decoration: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 18px;
    padding-bottom: 18px;
}

.social {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-basis: calc(100% / 12 * 2);
    justify-content: flex-end;
}

.nav__link {
    transition: color 0.25ms ease-in-out;
    
}

.svg__nav:hover path {
    fill: #03DAC4;
}

.social a {
    margin-right: 22px;
}

.social a:last-child {
    margin-right: 0;
}

/* / nav */



/* header */
.section__header {
    overflow: hidden;
}

.section__header__wrapper {
    display: flex;
    position: relative;

}

.section__header__text {
    margin-top: 214px;
    width: 60%;
}

.p__header1 {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}

h1 {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: -0.5px;
    color: #6200EE;

    margin-top: 14px;
}

.p__header2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);

    width: 588px;
    margin-top: 35px;
}

.form__wrapper {
    display: flex;

}

.form__header {
    margin-top: 70px;
    margin-bottom: 187px;
    margin-right: 0;
    margin-left: 0;
    height: 56px;

    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
}

.input__header1 {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.6);

    padding: 16px 101px 16px 16px;  
}

.input__header2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: #6200EE;

    padding: 20px 26px;
    height: 56px;
}

.input__header2:hover {
    cursor: pointer;
    opacity: 0.7;
}

.img__header {
    position: absolute;
    top: 109px;
    left: 612px;
    z-index: -1;
}

/* /header */



/* coworking */
.section__coworking {
    margin-top: 125px;
    margin-bottom: 185px;
}

.h2__coworking {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;

    text-align: center;

    color: rgba(0, 0, 0, 0.87);

    margin-bottom: 39px;
}

.p__coworking1 {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.25px;

    color: rgba(0, 0, 0, 0.6);
    max-width: 793px;
    margin: 0 auto;
}

.p__coworking2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.25px;

    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.section__coworking_promo {
    display: flex;
    margin-top: 41px;
    justify-content: space-between;
}

.section__coworking_promo div:last-child {
    margin-right: 0;
}

.section__coworking_promo1 {
    text-align: center;
    margin-right: 24px;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    
}

.text__wrapper {
    margin-top: 56px;
    margin-bottom: 50px;
}

.coworking__icon {
    position: absolute;
    left: 170px;
    bottom: 127px;

}

.p__name {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.25px;

    color: rgba(0, 0, 0, 0.87);
}

.p__position {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.6);
}

.promo__video {
    background-color: rgba(0,0,0,0.5);
    width: 383px;
    height: 240px;
}

.button__video {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    background: transparent;

    left: 172px;
    top: 112px;
}

.button__video:hover {
    cursor: pointer;
}
/* /coworking */

/* space */

.section__space {
    padding-top: 106px;
    background: #E5E5E5;
    padding-bottom: 186px;
}

.section__space__grid {
    display: grid;
    grid-template-areas:"space_1 space_2 space_3 space_7" 
                        "space_4 space_5 space_6 space_7";

}

.section__space__grid img:nth-child(1) {
    grid-area: space_1;
}

.section__space__grid img:nth-child(2) {
    grid-area: space_2;
}

.section__space__grid img:nth-child(3) {
    grid-area: space_3;
}

.section__space__grid img:nth-child(4) {
    grid-area: space_4;
    margin-top: 24px;
    
}
.section__space__grid img:nth-child(5) {
    grid-area: space_5;
    margin-top: 24px;
}
.section__space__grid img:nth-child(6) {
    grid-area: space_6;
    margin-top: 24px;
}
.section__space__grid div {
    grid-area: space_7;
    background-color: #0000A0;;
}

.section__space__grid img {
    margin-right: 23px;
}

.space__text p{
    padding-left: 48px;
    padding-right: 48px;
}

.space__timing {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: #F5F5F5;

    padding-top: 78px;
}

.space__zone {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: rgba(255, 255, 255, 0.6);

    padding-top: 52px;
}

.space__space {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;

    color: #F5F5F5;

    padding-top: 8px;
}

.space__description {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15.3973px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: rgba(255, 255, 255, 0.6);

    padding-top: 28px;
}
/* /space */



/* Consultations */

.section__consultations {
    margin-top: 107px;
    padding-bottom: 107px;
}

.consultations__h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;
    text-align: center;

    color: rgba(0, 0, 0, 0.87);
    max-width: 792px;
    margin: 0 auto;
}

.section__consultations__flex {
    margin-top: 78px;
    display: flex;
}

.section__consultations__left {
    background: #3B00DD;

    width: calc(100% / 12 * 4);

    margin-left: calc(100% / 12 * 1);
    margin-right: calc(100% / 12 * 1);

    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
}

.p__crisis {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;

    color: #FFFFFF;

    padding-top: 70px;
}

.p__crisis__description {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: #FFFFFF;

    margin-top: 26px;
}

.section__consultations__stepan {
    margin-top: 48px;
    display: flex;
}

.section__consultations__stepan img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 17px;
}

.stepan__position {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.25px;
    
    color: #FFFFFF;
}

.stepan__name {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: #FFFFFF;
}

.section__consultations__right {
    display: flex;
    flex-direction: column;

    width: calc(100% / 12 * 6);
}

.right__text {
    margin-bottom: 44px;
}

.section__consultations__right div:last-child {
    margin-bottom: 22px;
}

.right__text__p {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    letter-spacing: 0.25px;

    color: rgba(0, 0, 0, 0.87);

    margin-bottom: 17px;
}

.right__text__p2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.25px;

    color: rgba(0, 0, 0, 0.6);
}
/* /Consultations */



/* footer_nav */

.section__footer_nav {
    background:#3B00DD;
    padding-top: 37px;
    padding-bottom: 37px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
}

.footer_nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__footer_nav {
    display: flex;
}

.input__footer:hover {
    cursor: pointer;
}

.svg__footer:hover .inside__hover {
    fill: #03DAC4;
}

.button__footer {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: #03DAC4;

    padding: 20px 26px;
    height: 56px;
}

.button__footer:hover {
    cursor: pointer;
}
/* /footer_nav */


/* footer */

footer {
    background: #E5E5E5;
    padding-bottom: 61px;
}

.footer__text {
    display: flex;
    justify-content: flex-start;
    padding-top: 70px;
}

.footer__text .logo{
    width: calc(100% / 12 * 1);
    margin-left: calc(100% / 12 * 1);
    margin-right: calc(100% / 12 * 1);
}

.footer__copyrights {
    display: flex;
    justify-content: space-between;

    margin-top: 48px;
    margin-bottom: 48px;
}

.footer_join {
    width: calc(100% / 12 * 2);
    margin-right: calc(100% / 12 * 1);
}

.footer_found {
    width: calc(100% / 12 * 2);
    margin-right: calc(100% / 12 * 1);
}

.footer__menu {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;

    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;

    margin-right: calc(100% / 12 * 1);
}

.footer__p {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.6);

    margin-bottom: 8px;
}

.footer__email {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.15px;
    text-decoration-line: underline;

    color: rgba(0, 0, 0, 0.6);

    margin: 0;
}

.footer_list {
    list-style-type: none;
}

.footer_list li{
    margin-bottom: 8px;
}

.footer__link {
    text-decoration: none;

    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.6);

}

.footer__link:focus {
    color:#03DAC4;
}

.footer__link:hover {
    color:#03DAC4;
    transition: 250ms;
}

.footer__link:last-child {
    margin-bottom: 0;
}

/* /footer */



/* footer__copyrights */

.copyrights__a:first-child:after {
    content: " | ";
    color: rgba(0, 0, 0, 0.6);
}

.copyrights__a {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.6);

    text-decoration: none;
}

.copyrights__a:hover {
    color:#03DAC4;
    transition: 250ms;
}

.copyrights__a:focus {
    color:#03DAC4;
}
/* /footer__copyrights */